<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidcompany.videohdtoolsgrop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.vidcompany.videohdtoolsgrop.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoProjector">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9562261954889993~9547758390"/>

        <activity
            android:name="com.vidcompany.videohdtoolsgrop.VideoPlayer"
            android:exported="true" />
        <activity
            android:name="com.vidcompany.videohdtoolsgrop.SelectPlayerVideo"
            android:exported="true" />
        <activity
            android:name="com.vidcompany.videohdtoolsgrop.Select"
            android:exported="true" />
        <activity
            android:name="com.vidcompany.videohdtoolsgrop.Main"
            android:exported="true" />
        <activity
            android:name="com.vidcompany.videohdtoolsgrop.StartApp"
            android:exported="true" />
        <activity
            android:name="com.vidcompany.videohdtoolsgrop.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>